streamlit-shadcn-ui
dagshub


htbuilder



mlflow

numpy
oauthlib

Pillow
plotly==5.18.0


requests
rich
scikit-learn
scipy
seaborn
semver
shap

SQLAlchemy
sqlparse
statsmodels
streamlit
streamlit-chat
streamlit-pandas-profiling
streamlit-shap
tableauserverclient
tabulate


ydata-profiling
